<div class="navbar">
    <a routerLink="/Profile">Dakoda's Profile</a>
    <div class="dropdown">
        <button routerLink="/BudgetTest" class="dropbtn">
            Budget
        </button>
        <div class="dropdown-content">
            <a routerLink="/BudgetTest">Budget Test</a>
            <!-- <a href="https://dakoda-willden.ddns.net/BudgetTest/Budget" target="_blank">Budget Test</a> -->
            <a href="https://willdenbudget.ddns.net/Budget/Budget" target="_blank">Budget</a>
        </div>
    </div>
    <a routerLink="/Inventory">Inventory</a>
    <!-- <a href="https://dakoda-willden.ddns.net/Inventory/WGUCapstone" target="_blank">Fake Inventory</a> -->
</div >