<div class="navbar">
    <a routerLink="/Profile">Dakoda's Profile</a>
    <div class="dropdown">
        <button routerLink="/BudgetTest" class="dropbtn">
            Budget
        </button>
        <div class="dropdown-content">
            <a routerLink="/BudgetTest">Budget Test</a>
            <a routerLink="/BudgetTest">Budget API (Code not up yet)</a>
            <a routerLink="/BudgetTest">Budget Angular(Code not up yet)</a>
        </div>
    </div>
    <a routerLink="/Inventory">Inventory</a>
    <a routerLink="/Mobile">WGU Mobile</a>
    <a routerLink="/Appointment-Scheduler">Appointment Scheduler</a>
</div >