h1
{
    text-align:center;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    position: center;
    transform: translateY(-50%);
}

#hide-me {
    display:none;
    visibility:hidden;
}


.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    transition: 0.5s;
}
  
  .overlay-content {
    position: relative;
    top: 25%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
.sub-content, .sub-content a {
    background-color: rgb(127, 127, 127);
    opacity: 80%;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.clickable{
    cursor: pointer;
}